[project]
name = "1062-qualitaetsberichte-dashboard"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "altair>=6.0.0",
    "streamlit>=1.53.0",
]
